.counterContainer {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin card {
  display: flex;
  gap: 10px;
  border-radius: 15px;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #04243e;
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
  }
}

.approveRequestCard {
  @include card;
  &:hover {transform: scale(1.01);}
}

.counterCard {
  @include card;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.paymentCard {
  @include card;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
